{
    "line_color": "#dddddd", 
    "header_font_size": "24", 
    "pre_break_lines": true, 
    "blockquote_background_color": "#f5f5f5", 
    "submit_button": null, 
    "justify_align": true, 
    "paragraph_spacing": "1.2", 
    "header_font_color": "#111111", 
    "page_paddings": "0 10 0 10", 
    "image_description": true, 
    "secondary_color": "#777777", 
    "reset_button": null, 
    "letter_spacing": "1.5px", 
    "line_height": "1.7", 
    "list_tag_color": "#2b5db9", 
    "header_paddings": "15 0 5 0", 
    "blockquote_border_color": "#16b0ff", 
    "header_align": "left", 
    "blockquote_font_color": "#353535", 
    "bold_color": "#cb001e", 
    "header_border_style": "bottom", 
    "header_border_width": "1", 
    "font_size": "17", 
    "random_button": null, 
    "header_border_color": "#eeeeee", 
    "list_tag_style": "disc", 
    "list_font_color": "#555555", 
    "font_color": "#333333", 
    "apply_button": null, 
    "demo_text": true
}