{
    "font_size": "14", 
    "page_paddings": "0 0 0 0 10", 
    "random_button": null, 
    "strong_font_color": "#333333", 
    "letter_spacing": "1.5px", 
    "index_characters": "", 
    "splitter_sizes": "0 0", 
    "colors": "#111111 #111111 #111111 #111111 #111111 #111111", 
    "header_font_sizes": "20 18 16 16 16 14", 
    "splitter_style": "process", 
    "submit_button": null, 
    "main_color": "#000000", 
    "simple_button": null, 
    "font_color": "#888888", 
    "apply_button": null, 
    "header_font_color": "#222222", 
    "key_font_color": "#555555", 
    "header_style": "simple_position"
}