{
    "create_indexes": true, 
    "root_documents_sort_first": true, 
    "name": "\u5b57\u8282\u52a0\u5de5\u5382", 
    "auto_cover": true, 
    "pdf_css": "", 
    "submit_button": null, 
    "subtitle": "\u5fae\u4fe1\u5c0f\u7a0b\u5e8f\u300c\u5b57\u8282\u52a0\u5de5\u5382\u300d\u4ea7\u54c1\u8bbe\u8ba1\u4e0e\u5f00\u53d1\u5b9e\u6218\u3002", 
    "password": "", 
    "show_order_number_in_indexes": true, 
    "re_check": false
}